<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://192.168.70.80/download/iOS/2023-04-05/5338_Debug_dist_stable_20230405143057/5338_dist_stable_weelife-i-ios-debug-devsigning-20230405142442.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>logo链接</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>小logo链接</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.newlang.weelife</string>
				<key>bundle-version</key>
				<string>1.00.01</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>UDID</string>
				<key>title</key>
				<string>测试测试</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
